<?xml version="1.0" encoding="utf-8" ?>
<log4net>
<!--can be used when there is a need of showing the debugging information-->
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="${appdata}/APIErrors/Logfile.log" />
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5level - MESSAGE: %message%newline %exception" />
    </layout>
    <threshold value="WARN"/>
  </appender>
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <connectionString value="Scheme=http;Server=192.168.0.101;Index=log;Port=9200;rolling=true"/>
    <bufferSize value="1" />
  </appender>
  <root>
    
     <!--<level value="ERROR"/>Restrict the type of errors like Error, Warning, or Information only-->
    <appender-ref ref="RollingFile" />
    <appender-ref ref="ElasticSearchAppender" />
  </root>
</log4net>